.container {
    box-sizing: border-box;
    background: #BB1233;
    max-width: 500px;
    height: 200%;
    border-radius: 2%;
}
.btn{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    color:white;
    background: teal;
}
.logo {
    margin: 25px;
}


